CREATE TABLE activities (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER NOT NULL, contact_id INTEGER DEFAULT NULL, user_id INTEGER NOT NULL, type VARCHAR(50) NOT NULL, description CLOB DEFAULT NULL, notes CLOB DEFAULT NULL, outcome VARCHAR(50) DEFAULT NULL, activity_date DATETIME NOT NULL, follow_up_date DATETIME DEFAULT NULL, created_at DATETIME NOT NULL, CONSTRAINT FK_B5F1AFE5979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_B5F1AFE5E7A1254A FOREIGN KEY (contact_id) REFERENCES contacts (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_B5F1AFE5A76ED395 FOREIGN KEY (user_id) REFERENCES users (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_B5F1AFE5979B1AD6 ON activities (company_id);
CREATE INDEX IDX_B5F1AFE5E7A1254A ON activities (contact_id);
CREATE INDEX IDX_B5F1AFE5A76ED395 ON activities (user_id);
CREATE TABLE users (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, email VARCHAR(180) NOT NULL, roles CLOB NOT NULL --(DC2Type:json)
, password VARCHAR(255) NOT NULL, first_name VARCHAR(100) NOT NULL, last_name VARCHAR(100) NOT NULL, role VARCHAR(50) DEFAULT NULL, territory VARCHAR(100) DEFAULT NULL, active BOOLEAN NOT NULL);
CREATE UNIQUE INDEX UNIQ_1483A5E9E7927C74 ON users (email);
CREATE TABLE companies (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, name VARCHAR(255) NOT NULL, sector VARCHAR(100) DEFAULT NULL, account_tier VARCHAR(10) NOT NULL, region VARCHAR(100) DEFAULT NULL, pipeline_stage VARCHAR(50) NOT NULL, website VARCHAR(255) DEFAULT NULL, address VARCHAR(255) DEFAULT NULL, city VARCHAR(100) DEFAULT NULL, country VARCHAR(50) DEFAULT NULL, linked_in_url VARCHAR(255) DEFAULT NULL, notes CLOB DEFAULT NULL, physical_site VARCHAR(255) DEFAULT NULL, linkedin_company_url VARCHAR(500) DEFAULT NULL, source_notes CLOB DEFAULT NULL, legal_name VARCHAR(255) DEFAULT NULL, google_drive_link VARCHAR(500) DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL);
CREATE TABLE compliance_documents (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER NOT NULL, name VARCHAR(255) NOT NULL, required BOOLEAN NOT NULL, provided BOOLEAN NOT NULL, status VARCHAR(100) DEFAULT NULL, file_name VARCHAR(255) DEFAULT NULL, file_size INTEGER DEFAULT NULL, expiry_date DATE DEFAULT NULL, uploaded_at DATETIME DEFAULT NULL, updated_at DATETIME DEFAULT NULL, CONSTRAINT FK_EABE6873979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_EABE6873979B1AD6 ON compliance_documents (company_id);
CREATE TABLE contacts (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER NOT NULL, first_name VARCHAR(255) NOT NULL, last_name VARCHAR(255) NOT NULL, job_title VARCHAR(100) DEFAULT NULL, email VARCHAR(255) DEFAULT NULL, phone VARCHAR(50) DEFAULT NULL, linked_in_url VARCHAR(255) DEFAULT NULL, source VARCHAR(50) DEFAULT NULL, primary_contact BOOLEAN DEFAULT 0 NOT NULL, notes CLOB DEFAULT NULL, role VARCHAR(100) DEFAULT NULL, created_at DATETIME NOT NULL, CONSTRAINT FK_33401573979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_33401573979B1AD6 ON contacts (company_id);
CREATE TABLE contact_email_campaigns (contact_id INTEGER NOT NULL, email_campaign_id INTEGER NOT NULL, PRIMARY KEY(contact_id, email_campaign_id), CONSTRAINT FK_776FD465E7A1254A FOREIGN KEY (contact_id) REFERENCES contacts (id) ON DELETE CASCADE NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_776FD465E0F98BC3 FOREIGN KEY (email_campaign_id) REFERENCES email_campaigns (id) ON DELETE CASCADE NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_776FD465E7A1254A ON contact_email_campaigns (contact_id);
CREATE INDEX IDX_776FD465E0F98BC3 ON contact_email_campaigns (email_campaign_id);
CREATE TABLE email_campaigns (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, template_id INTEGER DEFAULT NULL, name VARCHAR(255) NOT NULL, language VARCHAR(10) NOT NULL, description CLOB DEFAULT NULL, touch_count INTEGER NOT NULL, touch_templates CLOB NOT NULL --(DC2Type:json)
, active BOOLEAN NOT NULL, scheduled_at DATETIME DEFAULT NULL, CONSTRAINT FK_EC78EB5B5DA0FB8 FOREIGN KEY (template_id) REFERENCES email_template (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_EC78EB5B5DA0FB8 ON email_campaigns (template_id);
CREATE TABLE email_sends (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, campaign_id INTEGER NOT NULL, contact_id INTEGER NOT NULL, touch_number INTEGER NOT NULL, sent_at DATETIME NOT NULL, opened BOOLEAN DEFAULT 0 NOT NULL, clicked BOOLEAN DEFAULT 0 NOT NULL, replied BOOLEAN DEFAULT 0 NOT NULL, bounced BOOLEAN DEFAULT 0 NOT NULL, CONSTRAINT FK_633143B3F639F774 FOREIGN KEY (campaign_id) REFERENCES email_campaigns (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_633143B3E7A1254A FOREIGN KEY (contact_id) REFERENCES contacts (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_633143B3F639F774 ON email_sends (campaign_id);
CREATE INDEX IDX_633143B3E7A1254A ON email_sends (contact_id);
CREATE TABLE leads (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER DEFAULT NULL, company_name VARCHAR(255) NOT NULL, legal_name VARCHAR(255) DEFAULT NULL, website_root VARCHAR(255) DEFAULT NULL, lead_url VARCHAR(500) DEFAULT NULL, site_location VARCHAR(255) DEFAULT NULL, us_state VARCHAR(10) DEFAULT NULL, us_city_metro VARCHAR(100) DEFAULT NULL, region_tag VARCHAR(50) DEFAULT NULL, sector_tags CLOB DEFAULT NULL --(DC2Type:json)
, fit_signals CLOB DEFAULT NULL --(DC2Type:json)
, morocco_signal BOOLEAN DEFAULT NULL, quality_stack CLOB DEFAULT NULL --(DC2Type:json)
, contact_emails_public CLOB DEFAULT NULL --(DC2Type:json)
, contact_form_url VARCHAR(500) DEFAULT NULL, supplier_portal_url VARCHAR(500) DEFAULT NULL, rfq_rfp_page_url VARCHAR(500) DEFAULT NULL, supplier_portal_complexity VARCHAR(50) DEFAULT NULL, defense_flag BOOLEAN DEFAULT NULL, last_seen DATETIME DEFAULT NULL, content_last_modified DATETIME DEFAULT NULL, lead_score INTEGER DEFAULT NULL, notes_auto CLOB DEFAULT NULL, dupe_key VARCHAR(255) DEFAULT NULL, already_in_crm BOOLEAN DEFAULT NULL, review_status VARCHAR(50) DEFAULT NULL, deny_reason CLOB DEFAULT NULL, crm_record_id VARCHAR(100) DEFAULT NULL, owner_rep VARCHAR(100) DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL, CONSTRAINT FK_17904552979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) ON DELETE SET NULL NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_17904552979B1AD6 ON leads (company_id);
CREATE INDEX idx_leads_dupe ON leads (dupe_key);
CREATE INDEX idx_leads_region ON leads (region_tag);
CREATE INDEX idx_leads_score ON leads (lead_score);
CREATE TABLE rfqs (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER NOT NULL, rfq_number VARCHAR(100) DEFAULT NULL, rfq_date DATE DEFAULT NULL, type VARCHAR(50) NOT NULL, nda_sent BOOLEAN DEFAULT 0 NOT NULL, nda_date DATE DEFAULT NULL, nda_executed BOOLEAN DEFAULT 0 NOT NULL, status VARCHAR(50) NOT NULL, estimated_value NUMERIC(15, 2) DEFAULT NULL, volume_annual INTEGER DEFAULT NULL, sop_date DATE DEFAULT NULL, technical_scope CLOB DEFAULT NULL, notes CLOB DEFAULT NULL, created_at DATETIME NOT NULL, CONSTRAINT FK_530068A8979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_530068A8979B1AD6 ON rfqs (company_id);
CREATE TABLE webinars (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, title VARCHAR(255) NOT NULL, language VARCHAR(10) NOT NULL, scheduled_date DATETIME NOT NULL, duration INTEGER NOT NULL, description CLOB DEFAULT NULL, registration_url VARCHAR(500) DEFAULT NULL, recording_url VARCHAR(500) DEFAULT NULL, meeting_url VARCHAR(500) DEFAULT NULL, registered_count INTEGER DEFAULT 0 NOT NULL, attended_count INTEGER DEFAULT 0 NOT NULL, max_attendees INTEGER DEFAULT NULL, status VARCHAR(50) NOT NULL);
CREATE TABLE abm_account (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, account_name VARCHAR(255) NOT NULL, domain VARCHAR(255) NOT NULL, icp_tier VARCHAR(20) DEFAULT NULL, engagement_score INTEGER DEFAULT NULL, total_visits INTEGER DEFAULT NULL, total_page_views INTEGER DEFAULT NULL, first_seen_at DATETIME DEFAULT NULL, last_activity_at DATETIME DEFAULT NULL, metadata CLOB DEFAULT NULL --(DC2Type:json)
, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL);
CREATE UNIQUE INDEX UNIQ_EEBF221AA7A91E0B ON abm_account (domain);
CREATE INDEX idx_abm_domain ON abm_account (domain);
CREATE INDEX idx_abm_icp_tier ON abm_account (icp_tier);
CREATE INDEX idx_abm_engagement ON abm_account (engagement_score);
CREATE TABLE abm_hits (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER DEFAULT NULL, timestamp DATETIME NOT NULL, ip_address VARCHAR(45) NOT NULL, organization_name VARCHAR(255) DEFAULT NULL, url_visited CLOB DEFAULT NULL, session_duration INTEGER DEFAULT NULL, page_views INTEGER DEFAULT NULL, firmographic_data CLOB DEFAULT NULL, is_identified BOOLEAN NOT NULL, playbook_triggered BOOLEAN NOT NULL, notes CLOB DEFAULT NULL, CONSTRAINT FK_50A8D529979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_50A8D529979B1AD6 ON abm_hits (company_id);
CREATE INDEX idx_company_timestamp ON abm_hits (company_id, timestamp);
CREATE TABLE asm_curves (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, component_count_min INTEGER NOT NULL, component_count_max INTEGER DEFAULT NULL, cost_per_unit NUMERIC(15, 4) NOT NULL, currency VARCHAR(3) NOT NULL, asof DATETIME NOT NULL, version_id VARCHAR(100) NOT NULL, is_active BOOLEAN NOT NULL, notes CLOB DEFAULT NULL);
CREATE INDEX idx_component_count_asof ON asm_curves (component_count_min, asof);
CREATE TABLE bom_line (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, quote_id INTEGER NOT NULL, line_number INTEGER NOT NULL, mpn VARCHAR(255) DEFAULT NULL, manufacturer VARCHAR(255) DEFAULT NULL, description CLOB DEFAULT NULL, quantity INTEGER NOT NULL, unit_price NUMERIC(10, 4) DEFAULT NULL, extended_price NUMERIC(12, 2) DEFAULT NULL, procurement_source VARCHAR(50) DEFAULT NULL, has_exception BOOLEAN DEFAULT NULL, exception_reason VARCHAR(100) DEFAULT NULL, lead_time_days INTEGER DEFAULT NULL, availability VARCHAR(20) DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL, CONSTRAINT FK_746B6BD7DB805178 FOREIGN KEY (quote_id) REFERENCES quotes (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX idx_bom_quote ON bom_line (quote_id);
CREATE INDEX idx_bom_mpn ON bom_line (mpn);
CREATE TABLE capacity_calendars (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, production_date DATE NOT NULL, available_slots INTEGER NOT NULL, booked_slots INTEGER NOT NULL, is_holiday BOOLEAN NOT NULL, holiday_name CLOB DEFAULT NULL, notes CLOB DEFAULT NULL);
CREATE INDEX idx_production_date ON capacity_calendars (production_date);
CREATE TABLE case_studies (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER DEFAULT NULL, title VARCHAR(255) NOT NULL, sector VARCHAR(100) NOT NULL, challenge CLOB DEFAULT NULL, solution CLOB DEFAULT NULL, results CLOB DEFAULT NULL, published BOOLEAN DEFAULT 0 NOT NULL, anonymized BOOLEAN DEFAULT 0 NOT NULL, language VARCHAR(10) NOT NULL, pdf_path VARCHAR(500) DEFAULT NULL, published_at DATETIME DEFAULT NULL, CONSTRAINT FK_6C0AEF34979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_6C0AEF34979B1AD6 ON case_studies (company_id);
CREATE TABLE company_canonicals (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER NOT NULL, domain VARCHAR(255) NOT NULL, alias VARCHAR(255) DEFAULT NULL, is_primary BOOLEAN NOT NULL, notes CLOB DEFAULT NULL, created_at DATETIME DEFAULT NULL, CONSTRAINT FK_514DA330979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_514DA330979B1AD6 ON company_canonicals (company_id);
CREATE INDEX idx_domain ON company_canonicals (domain);
CREATE TABLE coo_supplier_decls (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, supplier_name VARCHAR(255) NOT NULL, mpn VARCHAR(255) NOT NULL, country_of_origin VARCHAR(2) NOT NULL, hts_code VARCHAR(100) DEFAULT NULL, evidence_url CLOB DEFAULT NULL, declared_at DATETIME NOT NULL, expires_at DATETIME DEFAULT NULL, certificate_number VARCHAR(100) DEFAULT NULL, notes CLOB DEFAULT NULL, is_verified BOOLEAN NOT NULL, verified_by VARCHAR(255) DEFAULT NULL);
CREATE INDEX idx_supplier_mpn ON coo_supplier_decls (supplier_name, mpn);
CREATE TABLE dataset_version (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, dataset_type VARCHAR(100) NOT NULL, version_uuid VARCHAR(36) NOT NULL, sha256_hash VARCHAR(64) NOT NULL, record_count INTEGER DEFAULT NULL, is_active BOOLEAN DEFAULT NULL, metadata CLOB DEFAULT NULL --(DC2Type:json)
, imported_at DATETIME NOT NULL, imported_by VARCHAR(100) DEFAULT NULL);
CREATE UNIQUE INDEX UNIQ_94CEFF85606F4CA2 ON dataset_version (version_uuid);
CREATE INDEX idx_dataset_type ON dataset_version (dataset_type);
CREATE INDEX idx_dataset_active ON dataset_version (is_active);
CREATE INDEX idx_dataset_uuid ON dataset_version (version_uuid);
CREATE TABLE dfm_finding (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, quote_id INTEGER NOT NULL, dfm_rule_id INTEGER DEFAULT NULL, finding_type VARCHAR(100) NOT NULL, severity VARCHAR(20) NOT NULL, description CLOB NOT NULL, remediation CLOB DEFAULT NULL, cost_impact NUMERIC(10, 2) DEFAULT NULL, lead_time_impact INTEGER DEFAULT NULL, metadata CLOB DEFAULT NULL --(DC2Type:json)
, created_at DATETIME NOT NULL, CONSTRAINT FK_4C2C6BB0DB805178 FOREIGN KEY (quote_id) REFERENCES quotes (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_4C2C6BB09F7B7BD7 FOREIGN KEY (dfm_rule_id) REFERENCES dfm_rules (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_4C2C6BB09F7B7BD7 ON dfm_finding (dfm_rule_id);
CREATE INDEX idx_dfm_quote ON dfm_finding (quote_id);
CREATE INDEX idx_dfm_severity ON dfm_finding (severity);
CREATE TABLE dfm_rules (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, rule_type VARCHAR(100) NOT NULL, rule_name VARCHAR(255) NOT NULL, severity VARCHAR(50) NOT NULL, description CLOB NOT NULL, remediation_text CLOB DEFAULT NULL, check_logic CLOB DEFAULT NULL, is_active BOOLEAN NOT NULL, notes CLOB DEFAULT NULL, created_at DATETIME DEFAULT NULL, updated_at DATETIME DEFAULT NULL);
CREATE INDEX idx_rule_type_severity ON dfm_rules (rule_type, severity);
CREATE TABLE email_segment (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, name VARCHAR(255) NOT NULL, description CLOB DEFAULT NULL, filter_rules_json CLOB NOT NULL --(DC2Type:json)
, contact_count INTEGER NOT NULL, is_active BOOLEAN NOT NULL, last_calculated_at DATETIME DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL, created_by VARCHAR(100) DEFAULT NULL);
CREATE INDEX idx_segment_name ON email_segment (name);
CREATE INDEX idx_segment_active ON email_segment (is_active);
CREATE TABLE email_template (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, name VARCHAR(255) NOT NULL, subject_line VARCHAR(255) NOT NULL, preview_text VARCHAR(255) DEFAULT NULL, body_html CLOB NOT NULL, body_text CLOB DEFAULT NULL, description CLOB DEFAULT NULL, category VARCHAR(50) DEFAULT NULL, is_active BOOLEAN NOT NULL, personalization_tokens CLOB DEFAULT NULL --(DC2Type:json)
, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL, created_by VARCHAR(100) DEFAULT NULL);
CREATE INDEX idx_template_name ON email_template (name);
CREATE INDEX idx_template_active ON email_template (is_active);
CREATE TABLE email_unsubscribe (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, contact_id INTEGER DEFAULT NULL, email VARCHAR(255) NOT NULL, reason VARCHAR(100) DEFAULT NULL, feedback_text CLOB DEFAULT NULL, unsubscribed_at DATETIME NOT NULL, ip_address VARCHAR(45) DEFAULT NULL, user_agent VARCHAR(255) DEFAULT NULL, CONSTRAINT FK_B3AC4CB9E7A1254A FOREIGN KEY (contact_id) REFERENCES contacts (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX idx_unsubscribe_contact ON email_unsubscribe (contact_id);
CREATE INDEX idx_unsubscribe_email ON email_unsubscribe (email);
CREATE TABLE estimates (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER NOT NULL, rfq_id INTEGER DEFAULT NULL, estimate_number VARCHAR(50) NOT NULL, origin_country VARCHAR(100) NOT NULL, destination_country VARCHAR(100) NOT NULL, origin_port VARCHAR(100) DEFAULT NULL, destination_port VARCHAR(100) DEFAULT NULL, material_cost NUMERIC(15, 2) NOT NULL, labor_cost NUMERIC(15, 2) NOT NULL, freight_cost NUMERIC(15, 2) NOT NULL, duty_cost NUMERIC(15, 2) NOT NULL, other_costs NUMERIC(15, 2) DEFAULT NULL, total_landed_cost NUMERIC(15, 2) NOT NULL, currency VARCHAR(10) NOT NULL, duty_rate NUMERIC(5, 2) DEFAULT NULL, fta_agreement VARCHAR(100) DEFAULT NULL, fta_qualified BOOLEAN NOT NULL, bom_data CLOB DEFAULT NULL, sha256_hash VARCHAR(64) DEFAULT NULL, version_id VARCHAR(100) DEFAULT NULL, notes CLOB DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL, CONSTRAINT FK_85B8B0EE979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_85B8B0EEABD9545F FOREIGN KEY (rfq_id) REFERENCES rfqs (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE UNIQUE INDEX UNIQ_85B8B0EE9D3C8144 ON estimates (estimate_number);
CREATE INDEX IDX_85B8B0EEABD9545F ON estimates (rfq_id);
CREATE INDEX idx_company ON estimates (company_id);
CREATE INDEX idx_estimate_number ON estimates (estimate_number);
CREATE TABLE freight_tables (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, origin_port VARCHAR(100) NOT NULL, destination_port VARCHAR(100) NOT NULL, transport_mode VARCHAR(50) NOT NULL, container_type VARCHAR(20) NOT NULL, cost_per_unit NUMERIC(10, 2) NOT NULL, currency VARCHAR(10) NOT NULL, transit_days INTEGER DEFAULT NULL, effective_date DATE NOT NULL, expiry_date DATE DEFAULT NULL, carrier VARCHAR(255) DEFAULT NULL, notes CLOB DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL);
CREATE INDEX idx_route ON freight_tables (origin_port, destination_port);
CREATE INDEX idx_effective_date ON freight_tables (effective_date);
CREATE TABLE fta_rules (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, hs_code VARCHAR(20) NOT NULL, fta_agreement VARCHAR(100) NOT NULL, roo_requirement CLOB NOT NULL, roo_language CLOB DEFAULT NULL, minimum_value_content NUMERIC(5, 2) DEFAULT NULL, requires_certificate BOOLEAN NOT NULL, certificate_type VARCHAR(50) DEFAULT NULL, required_documents CLOB DEFAULT NULL, notes CLOB DEFAULT NULL, effective_date DATE NOT NULL, expiry_date DATE DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL);
CREATE INDEX idx_hs_code ON fta_rules (hs_code);
CREATE TABLE fx_rates (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, from_currency VARCHAR(10) NOT NULL, to_currency VARCHAR(10) NOT NULL, rate NUMERIC(12, 6) NOT NULL, asof DATETIME NOT NULL, version_id VARCHAR(36) NOT NULL, is_active BOOLEAN NOT NULL, created_at DATETIME NOT NULL);
CREATE INDEX idx_currencies ON fx_rates (from_currency, to_currency);
CREATE INDEX idx_asof ON fx_rates (asof);
CREATE TABLE hts_map_rules (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, category VARCHAR(100) NOT NULL, keywords CLOB DEFAULT NULL, hts_code VARCHAR(100) NOT NULL, confidence VARCHAR(50) NOT NULL, heuristic_logic CLOB DEFAULT NULL, priority INTEGER NOT NULL, notes CLOB DEFAULT NULL, is_active BOOLEAN NOT NULL, created_at DATETIME DEFAULT NULL, updated_at DATETIME DEFAULT NULL);
CREATE INDEX idx_category_keywords ON hts_map_rules (category);
CREATE TABLE ip_maps (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, ip_address VARCHAR(45) NOT NULL, organization_name VARCHAR(255) DEFAULT NULL, domain VARCHAR(255) DEFAULT NULL, city VARCHAR(100) DEFAULT NULL, region VARCHAR(100) DEFAULT NULL, country VARCHAR(2) DEFAULT NULL, firmographic_data CLOB DEFAULT NULL, asof DATETIME NOT NULL, expires_at DATETIME DEFAULT NULL);
CREATE INDEX idx_ip_asof ON ip_maps (ip_address, asof);
CREATE TABLE notification (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, user_id INTEGER NOT NULL, type VARCHAR(50) NOT NULL, entity_type VARCHAR(50) NOT NULL, entity_id INTEGER NOT NULL, message VARCHAR(255) NOT NULL, data CLOB DEFAULT NULL --(DC2Type:json)
, read_at DATETIME DEFAULT NULL, created_at DATETIME NOT NULL, CONSTRAINT FK_BF5476CAA76ED395 FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_BF5476CAA76ED395 ON notification (user_id);
CREATE INDEX idx_notification_user_read ON notification (user_id, read_at);
CREATE INDEX idx_notification_created ON notification (created_at);
CREATE TABLE nre_tables (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, service_type VARCHAR(100) NOT NULL, flat_fee NUMERIC(15, 4) NOT NULL, currency VARCHAR(3) NOT NULL, asof DATETIME NOT NULL, version_id VARCHAR(100) NOT NULL, is_active BOOLEAN NOT NULL, notes CLOB DEFAULT NULL);
CREATE INDEX idx_service_type_asof ON nre_tables (service_type, asof);
CREATE TABLE onboarding_packs (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER NOT NULL, portal_candidate_id INTEGER NOT NULL, status VARCHAR(50) NOT NULL, pack_contents CLOB DEFAULT NULL, created_at DATETIME NOT NULL, submitted_at DATETIME DEFAULT NULL, submitted_by VARCHAR(255) DEFAULT NULL, notes CLOB DEFAULT NULL, sha256_hash VARCHAR(64) DEFAULT NULL, CONSTRAINT FK_846C0DCB979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_846C0DCB91D286EE FOREIGN KEY (portal_candidate_id) REFERENCES portal_candidates (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_846C0DCB979B1AD6 ON onboarding_packs (company_id);
CREATE INDEX IDX_846C0DCB91D286EE ON onboarding_packs (portal_candidate_id);
CREATE INDEX idx_company_portal ON onboarding_packs (company_id, portal_candidate_id);
CREATE TABLE packaging_factors (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, category VARCHAR(100) NOT NULL, kg_per_unit NUMERIC(10, 4) NOT NULL, dm3_per_unit NUMERIC(10, 4) NOT NULL, palletization_rule_json CLOB DEFAULT NULL --(DC2Type:json)
, asof DATETIME NOT NULL, version_id VARCHAR(36) NOT NULL, is_active BOOLEAN NOT NULL, notes CLOB DEFAULT NULL, created_at DATETIME NOT NULL);
CREATE INDEX idx_category ON packaging_factors (category);
CREATE INDEX idx_asof ON packaging_factors (asof);
CREATE TABLE pcb_curves (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, layers INTEGER NOT NULL, area_m2 NUMERIC(12, 2) NOT NULL, cost_per_m2 NUMERIC(15, 4) NOT NULL, currency VARCHAR(3) NOT NULL, asof DATETIME NOT NULL, version_id VARCHAR(100) NOT NULL, is_active BOOLEAN NOT NULL, notes CLOB DEFAULT NULL);
CREATE INDEX idx_layers_asof ON pcb_curves (layers, asof);
CREATE TABLE playbooks (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, name VARCHAR(255) NOT NULL, description CLOB DEFAULT NULL, trigger_rules CLOB NOT NULL, actions CLOB NOT NULL, priority INTEGER NOT NULL, is_active BOOLEAN NOT NULL, created_at DATETIME DEFAULT NULL, updated_at DATETIME DEFAULT NULL, notes CLOB DEFAULT NULL);
CREATE TABLE playbook_runs (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, playbook_id INTEGER NOT NULL, abm_hit_id INTEGER NOT NULL, triggered_at DATETIME NOT NULL, status VARCHAR(50) NOT NULL, completed_at DATETIME DEFAULT NULL, execution_log CLOB DEFAULT NULL, tasks_created INTEGER DEFAULT NULL, error_message CLOB DEFAULT NULL, CONSTRAINT FK_7C70D89C2DB77442 FOREIGN KEY (playbook_id) REFERENCES playbooks (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_7C70D89C3C9131CC FOREIGN KEY (abm_hit_id) REFERENCES abm_hits (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_7C70D89C2DB77442 ON playbook_runs (playbook_id);
CREATE INDEX IDX_7C70D89C3C9131CC ON playbook_runs (abm_hit_id);
CREATE INDEX idx_playbook_abm_hit ON playbook_runs (playbook_id, abm_hit_id);
CREATE TABLE portal_candidates (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER NOT NULL, portal_url CLOB NOT NULL, status VARCHAR(50) NOT NULL, discovered_at DATETIME NOT NULL, evidence_snapshot CLOB DEFAULT NULL, has_robots_txt BOOLEAN NOT NULL, requires_manual_submit BOOLEAN NOT NULL, tos_url CLOB DEFAULT NULL, tos_reviewed BOOLEAN NOT NULL, approved_at DATETIME DEFAULT NULL, approved_by VARCHAR(255) DEFAULT NULL, notes CLOB DEFAULT NULL, CONSTRAINT FK_DB6F19DA979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_DB6F19DA979B1AD6 ON portal_candidates (company_id);
CREATE INDEX idx_company_status ON portal_candidates (company_id, status);
CREATE TABLE procurement_exception (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, bom_line_id INTEGER NOT NULL, exception_type VARCHAR(50) NOT NULL, severity VARCHAR(20) NOT NULL, message CLOB DEFAULT NULL, recommendation CLOB DEFAULT NULL, metadata CLOB DEFAULT NULL --(DC2Type:json)
, created_at DATETIME NOT NULL, CONSTRAINT FK_86428B89B2EEEC4D FOREIGN KEY (bom_line_id) REFERENCES bom_line (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX idx_proc_exc_bomline ON procurement_exception (bom_line_id);
CREATE INDEX idx_proc_exc_severity ON procurement_exception (severity);
CREATE TABLE quotes (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER NOT NULL, quote_number VARCHAR(50) NOT NULL, status VARCHAR(50) NOT NULL, total_cost NUMERIC(15, 2) NOT NULL, currency VARCHAR(10) NOT NULL, coverage_percent NUMERIC(5, 2) DEFAULT NULL, alibaba_percent NUMERIC(5, 2) DEFAULT NULL, critical_dfm_count INTEGER DEFAULT NULL, max_imputed_lead_time_days INTEGER DEFAULT NULL, auto_published BOOLEAN NOT NULL, dataset_version_id VARCHAR(36) DEFAULT NULL, api_versions CLOB DEFAULT NULL, bom_data_json CLOB DEFAULT NULL, ship_to_country VARCHAR(100) DEFAULT NULL, incoterms VARCHAR(50) DEFAULT NULL, quantity INTEGER DEFAULT NULL, notes CLOB DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL, CONSTRAINT FK_A1B588C5979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE UNIQUE INDEX UNIQ_A1B588C5AC28B117 ON quotes (quote_number);
CREATE INDEX idx_company ON quotes (company_id);
CREATE INDEX idx_quote_number ON quotes (quote_number);
CREATE INDEX idx_status ON quotes (status);
CREATE TABLE quote_part_breakdowns (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, quote_id INTEGER NOT NULL, mpn VARCHAR(255) NOT NULL, manufacturer VARCHAR(255) DEFAULT NULL, quantity INTEGER NOT NULL, unit_price NUMERIC(15, 4) NOT NULL, extended_price NUMERIC(15, 2) NOT NULL, data_source VARCHAR(100) DEFAULT NULL, lead_time_days INTEGER DEFAULT NULL, is_imputed BOOLEAN NOT NULL, category VARCHAR(100) DEFAULT NULL, CONSTRAINT FK_88D90569DB805178 FOREIGN KEY (quote_id) REFERENCES quotes (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_88D90569DB805178 ON quote_part_breakdowns (quote_id);
CREATE TABLE report_audits (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, report_type VARCHAR(100) NOT NULL, entity_type VARCHAR(100) NOT NULL, entity_id INTEGER NOT NULL, sha256_hash VARCHAR(64) NOT NULL, version_id VARCHAR(100) DEFAULT NULL, dataset_versions CLOB DEFAULT NULL --(DC2Type:json)
, api_versions CLOB DEFAULT NULL --(DC2Type:json)
, metadata CLOB DEFAULT NULL --(DC2Type:json)
, file_name VARCHAR(255) DEFAULT NULL, file_size INTEGER DEFAULT NULL, generated_by VARCHAR(100) DEFAULT NULL, generated_at DATETIME NOT NULL, notes CLOB DEFAULT NULL);
CREATE INDEX idx_report_type ON report_audits (report_type);
CREATE INDEX idx_entity_type_id ON report_audits (entity_type, entity_id);
CREATE TABLE route_preferences (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, destination_country VARCHAR(2) NOT NULL, lane_code VARCHAR(100) NOT NULL, rank INTEGER NOT NULL, origin_port VARCHAR(100) DEFAULT NULL, destination_port VARCHAR(100) DEFAULT NULL, mode VARCHAR(50) NOT NULL, weight_threshold_kg NUMERIC(10, 2) DEFAULT NULL, volume_threshold_m3 NUMERIC(10, 2) DEFAULT NULL, notes CLOB DEFAULT NULL, is_active BOOLEAN NOT NULL);
CREATE INDEX idx_destination_country ON route_preferences (destination_country);
CREATE TABLE supplier_portals (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, company_id INTEGER NOT NULL, registered BOOLEAN DEFAULT 0 NOT NULL, registration_date DATE DEFAULT NULL, portal_username VARCHAR(255) DEFAULT NULL, profile_completed BOOLEAN DEFAULT 0 NOT NULL, notes CLOB DEFAULT NULL, portal_url VARCHAR(500) DEFAULT NULL, portal_id VARCHAR(255) DEFAULT NULL, submitted_date DATE DEFAULT NULL, approval_date DATE DEFAULT NULL, buyer_name VARCHAR(255) DEFAULT NULL, buyer_email VARCHAR(255) DEFAULT NULL, buyer_contacted BOOLEAN DEFAULT 0 NOT NULL, CONSTRAINT FK_27DDE79B979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE UNIQUE INDEX UNIQ_27DDE79B979B1AD6 ON supplier_portals (company_id);
CREATE TABLE tariff_rates (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, hs_code VARCHAR(20) NOT NULL, origin_country VARCHAR(100) NOT NULL, destination_country VARCHAR(100) NOT NULL, duty_rate NUMERIC(5, 2) NOT NULL, mfn_rate NUMERIC(5, 2) DEFAULT NULL, fta_rate NUMERIC(5, 2) DEFAULT NULL, effective_date DATE NOT NULL, expiry_date DATE DEFAULT NULL, notes CLOB DEFAULT NULL, fta_agreement VARCHAR(100) DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL);
CREATE INDEX idx_hs_code ON tariff_rates (hs_code);
CREATE INDEX idx_effective_date ON tariff_rates (effective_date);
CREATE TABLE web_events (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, timestamp DATETIME NOT NULL, ip_address VARCHAR(45) NOT NULL, url CLOB NOT NULL, method VARCHAR(10) NOT NULL, status_code INTEGER DEFAULT NULL, user_agent CLOB DEFAULT NULL, referer CLOB DEFAULT NULL, is_processed BOOLEAN NOT NULL, processed_at DATETIME DEFAULT NULL);
CREATE INDEX idx_timestamp_ip ON web_events (timestamp, ip_address);
CREATE TABLE webinar_attendees (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, webinar_id INTEGER NOT NULL, contact_id INTEGER DEFAULT NULL, company_id INTEGER DEFAULT NULL, email VARCHAR(255) DEFAULT NULL, name VARCHAR(255) DEFAULT NULL, registered_at DATETIME NOT NULL, attended BOOLEAN DEFAULT 0 NOT NULL, follow_up_sent BOOLEAN DEFAULT 0 NOT NULL, CONSTRAINT FK_819128FAA391D86E FOREIGN KEY (webinar_id) REFERENCES webinars (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_819128FAE7A1254A FOREIGN KEY (contact_id) REFERENCES contacts (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_819128FA979B1AD6 FOREIGN KEY (company_id) REFERENCES companies (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE INDEX IDX_819128FAA391D86E ON webinar_attendees (webinar_id);
CREATE INDEX IDX_819128FAE7A1254A ON webinar_attendees (contact_id);
CREATE INDEX IDX_819128FA979B1AD6 ON webinar_attendees (company_id);
